body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 230, 230);
    background-color: rgb(10, 10, 10);
}

main {
    margin: 10px;
}

header {
    padding: 5px;
    background-color: rgb(19, 19, 19);
}

/* Input text */
input[type=text], input[type=password] {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: black;
    color: rgb(230, 230, 230);
    padding: 5px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid rgba(255, 255, 255, 0.75);
}

/* Button */
input[type=submit], button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: black;
    color: rgb(230, 230, 230);
    padding: 5px;
    border-radius: 5px;
}

input[type=submit]:hover, button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}

.error {
    color: rgb(185, 0, 0);
}

.light {
    background-color: rgb(41, 41, 41);
}

.dark {
    background-color: rgb(24, 24, 24);
}

a.room {
    display: inline-block;
    text-decoration: none;
    border-left: 1px solid white;
    padding: 5px;
    color: white;
    margin: 0 0 2px 0;
}

a.room:hover {
    background-color: rgb(59, 59, 59);
    margin-left: 5px;
}

a.home {
    text-decoration: none;
    padding: 5px;
    color: white;
}

a.home:hover {
    background-color: rgb(59, 59, 59);
}